.shopping-cart-window {
  z-index: 999;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 16px;
  width: 400px;
  min-height: 400px;
  background-color: white;
  box-shadow: 0 0 20px 0 #504f4f;
  box-sizing: border-box;
  border-radius: 8px;
}
.shopping-cart-window__title-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #151515;
}
.shopping-cart-window__products-title-font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}
.shopping-cart-window_description-font {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #707070;
}
.shopping-cart-window_content-font {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}
.shopping-cart-window_pcs-font {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}
.shopping-cart-window_subtotal-font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}
.shopping-cart-window_sum-font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  color: #151515;
}
.shopping-cart-window__products-list {
  margin-top: 24px;
  margin-bottom: 24px;
}
.shopping-cart-window__products-card {
  display: flex;
  border-bottom: 1px solid #959595;
  margin-top: 32px;
}
.shopping-cart-window__products-info {
  display: flex;
  flex-direction: column;
}
.shopping-cart-window__products-image-box {
  width: 100px;
  height: 67px;
  border-radius: 12px;
  background-color: #F9F9F9;
  overflow: hidden;
  margin-right: 16px;
  margin-bottom: 12px;
}
.shopping-cart-window__products-image {
  object-fit: contain;
  width: 100%;
}
.shopping-cart-window__products-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 67px;
}
.shopping-cart-window__products-location,
.shopping-cart-window__products-freshness {
  display: flex;
}
.shopping-cart-window__products-location p:nth-child(1),
.shopping-cart-window__products-freshness p:nth-child(1) {
  min-width: 60px;
  margin-right: 14px;
}
.shopping-cart-window__products-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.shopping-cart-window__products-menu-controls {
  display: flex;
  flex-direction: column;
}
.shopping-cart-window__products-wishlist,
.shopping-cart-window__products-compare,
.shopping-cart-window__products-remove {
  position: relative;
  text-align: start;
  text-indent: 18px;
  background: none;
  border: none;
  margin-bottom: 8px;
}
.shopping-cart-window__products-wishlist::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 12px;
  height: 12px;
  background-image: url("../img/shopping-cart-window/ic-actions-wishlist.png");
  background-repeat: no-repeat;
}
.shopping-cart-window__products-compare::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  width: 12px;
  height: 12px;
  background-image: url("../img/shopping-cart-window/ic-actions-compare.png");
  background-repeat: no-repeat;
}
.shopping-cart-window__products-remove::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 12px;
  height: 12px;
  background-image: url("../img/shopping-cart-window/ic-actions-remove.png");
  background-repeat: no-repeat;
}
.shopping-cart-window__products-pricing {
  display: flex;
  justify-content: space-between;
}
.shopping-cart-window__products-prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shopping-cart-window__products-final-price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #6A983C;
}
.shopping-cart-window__products-sale-price {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}
.shopping-cart-window__products-quantity {
  display: flex;
  align-items: center;
  margin-left: auto;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 6px;
  max-width: 130px;
}
.shopping-cart-window__products-quantity-label input {
  background: none;
  border: none;
}
.shopping-cart-window__products-quantity-pcs {
  padding: 0 6px 0 6px;
  border-left: 1px solid #D1D1D1;
}
.shopping-cart-window__products-summary {
  padding-bottom: 24px;
  border-bottom: 1px solid #EBEBEB;
}
.shopping-cart-window__checkout-button {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
  background: #6A983C;
  border: 2px solid #46760A;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12.5px 16px;
  margin-top: 15px;
}
